---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Podcast from '../components/Podcast.astro';
import YouTube from '../components/YouTube.astro';
import Courses from '../components/Courses.astro';
import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation.astro';
---

<Layout>
	<Navigation />
	<main>
		<Hero />
		<About />
		<Podcast />
		<YouTube />
		<Courses />
	</main>
	<Footer />
</Layout>
