---
export interface Props {}

interface GlobalProps {
  title?: string;
  description?: string;
}
---

<section>
  <div class="p-8 text-center">
    <h1>{title}</h1>
    <p>{description}</p>
  </div>
</section>