---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header';
import Hero from '../components/Hero';
import Courses from '../components/Courses';
import PodcastsSection from '../components/PodcastsSection';
import YouTubeSection from '../components/YouTubeSection';
import AboutSection from '../components/AboutSection';
import Partners from '../components/Partners';
import Footer from '../components/Footer';
---

<Layout>
  <Header client:load />
  <main>
    <Hero />
    <Courses />
    <PodcastsSection />
    <YouTubeSection />
    <AboutSection />
    <Partners />
  </main>
  <Footer />
</Layout>
