@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  background-color: #ffffff;
  color: #111827;
}

body {
  background-color: #ffffff;
  color: #111827;
}

code {
  background-color: #f3f4f6;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  color: #dc2626;
}
