@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: system-ui, sans-serif;
  background-color: #0f172a;
  color: #e2e8f0;
}

body {
  background-color: #0f172a;
  color: #e2e8f0;
}

code {
  background-color: #334155;
  border-radius: 2px;
  padding: 0.2em 0.4em;
  color: #fca5a5;
}
