---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Szersze spojrzenie na programowanie." } = Astro.props;
---

<!doctype html>
<html lang="pl" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body class="font-sans antialiased text-slate-800 bg-white dark:bg-slate-900 dark:text-slate-100 min-h-screen flex flex-col">
		<slot />
	</body>
</html>
